.page {
  height: 100vh;
  background: #fff;
}

.header {
  height: 10vh;
  padding-top: 51.5px;
  z-index: 3;
  position: relative;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100%;

  @media (max-width: 37.5em) {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.pageContainer {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  @media (max-width: 37.5em) {
    display: none;
  }
}

.navLink {
  a {
    text-decoration: none;
    color: inherit;
    outline: none;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 50px;
  height: 49px;
  background: #f1ebfe;
}
